<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/niteroi3.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/niteroi-mac.png" alt="">
                </div>
                <h1 class="presentation-title">Arquitetura</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <h2 class="presentation-subtitle text-center">Joaquim Andrade</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Vamos falar sobre arquitetura</h2>
                <h5 class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat mattis lectus vitae tincidunt. Proin ut enim justo. 
                    Nam imperdiet arcu non hendrerit ultricies. Maecenas in scelerisque libero. Etiam facilisis dapibus gravida. Sed risus ipsum, 
                    euismod sed tortor et, maximus ultrices libero. Sed vel tempus quam, vel dapibus nulla. Aenean et tincidunt ex.
                </h5>
                <br>
                <a href="#" class="btn btn-danger btn-round">Mais Detalhes</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Projetos realizados</h4>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat mattis lectus vitae tincidunt.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Veja mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Novas Idéias</h4>
                        <p>Maecenas in scelerisque libero. Etiam facilisis dapibus gravida. Sed risus ipsum, 
                            euismod sed tortor et, maximus ultrices libero.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Mais Ideias</a>
                    </div>
                </div>
            </div>
            <!--div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"></h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div-->
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Neuro arquitetura</h4>
                        <p> Nam imperdiet arcu non hendrerit ultricies. Maecenas in scelerisque libero. Etiam facilisis dapibus gravida.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Quem somos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sócio1</h4>
                                <h6 class="card-category">Gosta de integração com a natureza</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Nam imperdiet arcu non hendrerit ultricies. Maecenas in scelerisque libero. Etiam facilisis dapibus gravida.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sócio2</h4>
                                <h6 class="card-category">Entusiasta de tecnologia e realidade virtual </h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Nam imperdiet arcu non hendrerit ultricies. Maecenas in scelerisque libero. Etiam facilisis dapibus gravida.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sócio3</h4>
                                <h6 class="card-category">Apaixonado por Niterói</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Nam imperdiet arcu non hendrerit ultricies. Maecenas in scelerisque libero. Etiam facilisis dapibus gravida.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Fale conosco</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Mensagem</label>
                        <textarea class="form-control" rows="4" placeholder="Escreva aqui sua pergunta"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
